/* html, body, div, span, applet, object, iframe,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

body {
  font-family: sans-serif;
  margin: 0;
  background: #eee;
}

.makeStyles-mainNav-3 ul {
  z-index: 2;
  text-align: right;
  list-style-type: none;
  margin: 0px;
}
.makeStyles-mainNav-3 ul a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
}

.makeStyles-mainNav-3 ul a:hover {
  background-color: #3498db;
}

.makeStyles-mainNav-3 li {
  display: inline-block;
  margin-left: 3%;
}

h1 {
  font-family: 'publica sans bold','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#beachHouse {
  background-image: url('../img/sourceImages/beachHouse.jpg')
}

#niceHouse {
  background-image: url('../img/sourceImages/jason-briscoe-UV81E0oXXWQ-unsplash.jpg')
}

#gridImg {
  background-image: url('../img/sourceImages/gridImg.jpg');
}

#sofa {
  background-image: url('../img/sourceImages/sofa.jpg')
}

.makeStyles-cardSection-28 h1 {
  text-align: center;
  line-height: 155%;
  margin-bottom: 7%;
}

.makeStyles-cardSection-28 h1 span {
  color: #3498db
}

.makeStyles-packageButtons-29 button {
  margin: 1%;
    width: 30%;
    padding: 2%;
    background-color: #fefefe;
    border: none;
}
